<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <http port="3000" host="127.0.0.1"></http>
    <admin login="admin" password="password"></admin>
    <DataBase>
        <driver>postgres</driver>
        <user>postgres</user>
        <password>root</password>
        <dbname>bmstu</dbname>
        <host>localhost</host>
        <port>5432</port>
        <sslmode>disable</sslmode>
    </DataBase>
</config>

